code/analise
code/analise.py
code/d_ola_1.txt
code/pre_processing
code/stem
llncs.cls
model-eps-converted-to.pdf
model.eps
"relat\303\263rio.aux"
"relat\303\263rio.log"
"relat\303\263rio.out"
"relat\303\263rio.tex"
splncs04.bst

